// ---------------------------------------
// Card do produto
.card-product {
  background-size: cover;
  background-position: center;

  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  color: white;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.card-product img {
  height: 150px;
}

.card-product h2 {
  margin: 0;
}

.card-product p {
  margin: 0;
}

// .row p {
//   position:relative;
//   left:25px;
// }

.tags p {
  position:relative;
  left:0px;
}
//-----------------------------------------
// Card vendo se notebook é uma boa

.card-match {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 240px;
  background: white;
  padding: 8px 16px;
  margin-bottom: 8px;
  // justify-content: center;
}

.card-match .infos {
  flex-grow: 1;
  padding: 0 24px;

}

.card-match h4, p {
  margin: 0;
  line-height: 1.4;
}
//-----------------------
.card-wagon {
  overflow: hidden;
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 3px;
}

.card-wagon img {
  height: 70%;
  width: 80px;
  object-fit: cover;
  border-radius: 5%;
  margin-left: 10px;
}

.card-wagon h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-wagon p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-wagon .card-wagon-infos {
  padding: 16px;
}

.card {
  padding:4px;
}

#form-control-position{
  margin-top: 6px;
}

#mobile-form-input{
  padding-right: 36px;
}


.mobile-tags{
  padding: 1px 12px;
  margin-top: 7px;
  margin-right: 6px;
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.mobile-index-tag {
  padding: 1px 10px;
  margin: 4px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid blue;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.tag-row{
  display: flex;
  flex-wrap: wrap;
  // margin-right: -15px;
  // margin-left: -15px;
}

.mobile-category-container{
  margin-top: 12px;
}

// Cards que engloba card
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 16px;
}

// Card da categoria
.mobile-category-card {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 12px;
}


.mobile-category-card img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.mobile-category-card h3 {
  font-size: 16px;
}

.mobile-category-card p {
  display: flex;
  flex-direction: row;
  padding: 1px 12px; // espaçamento dentro botão
  margin: 0 3px 8px 3px;
  border-radius: 3px;
  border: 2px solid blue;
  color: black;
  font-size: 12px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.card-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}