#dropdown-menu-seupc{
  position: absolute;
}

.mobile-avatar {
  width: 36px;
  border-radius: 50%;
}

.navbar-seupc-mobile .navbar-brand-mobile img {
  width: 55px;
}

.navbar-seupc-mobile {
    justify-content: space-between;
    background: transparent;
    padding-top: 20px;
}