<h1> hello world </h1>


<div class="cards">
  <% @notebooks.first(10).each do |notebook| %>
    <div class="card-category">
      <div class="card-product">
        <%= cl_image_tag notebook.photo.key%>
        <div class="card-product-infos">
          <h2> <%= notebook.brand%> <%= notebook.modelo %> </h2>
          <p> <%= notebook.hd %> </p>

        </div>
      </div>
    </div>

    <% end %>
</div>

