<div class="fixing-margin">

  <div class="index-page-centralize">

    <div class="container flex-center">
      <%= render 'shared/sidebar' %>
    </div>

    <div class="selected-tags-and-notebook-results">

      <div class="selected-tags">
        <div class="title">
          <strong>TAGS Selecionadas:</strong>
        </div>

        <!-- <div class="row">
          <div class="tags">
            <p>ADMINISTRAÇÃO</p>
          </div>
          <div class="tags">
            <p>i5</p>
          </div>
          <div class="tags">
            <p>PACOTE OFFICE</p>
          </div>
          <div class="tags">
            <p>LEVE</p>
          </div>
          <div class="tags">
            <p>R$2.500</p>
          </div>
        </div> -->
      </div>

      <div class="notebook-results">
        <%= render 'shared/notebooks-results' %>
      </div>

    </div>
  </div>
</div>

  <!-- Notebooks Selecionados -->



<!-- --------------------------- -->
    <!-- Ver se notebook X é uma boa pra pessoa -->
    <!-- Disponibilizar na V2 -->

<!--     <div class="card-match">
      <img src="https://www.w3schools.com/images/w3schools_green.jpg" alt="notebook" width="50" height="50">
      <div class="infos">
        <h4>Teste</h4>
        <p>Algumas infos do notebook</p>
      </div>

      <div class="many-btn-inline">
        <div class="btn btn-red">VER MAIS</div>
        <div class="btn btn-blue">MATCH</div>
      </div>
    </div>

    <div class="card-wagon">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-wagon-infos">
        <h2>Notebook Lenovo IdeaPad S145 Intel Core i5 8265U 15,6"</h2>
      </div>
    </div> -->
