.list-content {
  margin-left: 30px;
  width: 65%;
}
.card-list {
  overflow: hidden;
  // height: 140px;
  // width: 75%;
  width:100%;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 6px auto;
  justify-content: space-between;
}

.card-list img {
  height: 200px;
  width: 200px;
  // height: 86%; // img nao diminuiu mais
  // width: 20%;
  object-fit: cover;
}

.card-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-list p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-list .card-list-infos {
  padding: 16px;
}

.card-list-content {
  display: flex;
  align-items: center;
}

.card-list-infos{
  p{
    font-size:14px;
  }
}

.card-actions {
  padding-right: 12px;
}


.list-tags-container{
  margin-right: 20px;
  flex: 0 0 30%;
  padding: 10px;
}

.list-tags {
  padding: 10px;
  overflow-x: hidden;
  border-radius: 5px;
  border: 1px solid #C0C0C0;
  background-color: #f3f3f3;
}

.list-tags-top {
  display: flex;
  justify-content: space-between;
}

// Título da sidebar
.list-tags-title h3 {
  font-size: 18px;
}

.list-tags-title p {
  font-size: 14px;
}

.list-tags-title li {
  font-size: 14px;
}

.carousel-container{
  display: flex;
  justify-content: space-around;
  padding: 8px;
}
