.show-container {
  padding:8px;
  display:flex;
}

.show-container-img{
  display:flex;
  flex-direction:column;
}


body > div.wrapper > div:nth-child(1) > div > div:nth-child(1) {
  width:1000px;
}


#product-page1 > img {
  width:100%;
}
