      <!-- SIDEBAR -->
      <div class="sidebar">
        <div class="sidebar-title">
          <h3><strong>Curso</strong></h3>

          <form novalidate="novalidate" class="simple_form search" >
            <div class="search-form-control form-group">
              <input class="form-control">
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>

          <div class="overflow">
            <label class="container-check">Administração
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Arquitetura e urbanismo
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Ciência da computação
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Ciências contábeis
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Contabilidade
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Direito
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <div class="centralizando-engenharias">
              <%= image_tag("lista.png", width: "10", height: "10") %>
              <label class="container-check">Engenharias
                <%= image_tag("seta.png", width: "10", height: "10") %>
              </label>
            </div>

            <label class="container-check">Farmácia
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Fisioterapia
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Jornalismo
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Medicina
              <input type="checkbox">
              <span class="check"></span>
            </label>

            <label class="container-check">Medicina veterinária
              <input type="checkbox">
              <span class="check"></span>
            </label>

          </div>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Software</strong></h3>
          <p class="margin-left-8">Ex: canva ou editor de foto</p>

          <form class="simple_form search" >
            <div class="search-form-control form-group">
              <input class="form-control">
              <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>
        </div>
        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Tela</strong></h3>
          <a href=""><p>Ver tamanho na prática</p></a>

          <label class="container-check">13"
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check">15"
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check">17"
            <input type="checkbox">
            <span class="check"></span>
          </label>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Marcas</strong></h3>
          <label class="container-check margin-bottom">Acer
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Asus
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Lenovo
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Samsung
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Dell
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Vaio
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">HP
            <input type="checkbox">
            <span class="check"></span>
          </label>

          <label class="container-check margin-bottom">Samsung
            <input type="checkbox">
            <span class="check"></span>
          </label>
        </div>

        <!-- --------------------------- -->

        <div class="sidebar-title">
          <h3 class="margin-top"><strong>Preço</strong></h3>
          <h6 class="text-opacity">Quanto pretende investir?</h6>

          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$2.000
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$4.000
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$2.500
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$4.500
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>

          <div class="sidebar-coluna">

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$3.000
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$5.000
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>

            <div class="flex-row">
              <label class="container-check margin-bottom">Até R$3.500
                <input type="checkbox">
                <span class="check"></span>
              </label>

              <label class="container-check margin-bottom">Até R$5.500
                <input type="checkbox">
                <span class="check"></span>
              </label>
            </div>
          </div>
        </div>


       <!-- --------------------------- -->
       <!-- Cards com perfis -->
        <div class="cards">
          <%# <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Dia a dia</h3>
            <div class="row">
              <p>LEVE</p>
              <p>NETFLIX</p>
              <p>PACOTE OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Filme em casa</h3>
            <div class="row">
              <p>FULL HD</p>
              <p>LEVE</p>
              <p>NETFLIX</p>
              <p>POPCORN TIME</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Pro trabalho</h3>
            <div class="row">
              <p class="card-content">i5</p>
              <p>FULL HD</p>
              <p>OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div>

          <div class="card-category">
            <img src="https://www.w3schools.com/images/w3schools_green.jpg" width="50" height="50">
            <h3>Faculdade</h3>
            <div class="row">
              <p>i5</p>
              <p>LEVE</p>
              <p>FULL HD</p>
              <p>PACOTE OFFICE</p>
              <p>R$2.500</p>
            </div>
          </div> %>
        </div>
      </div>