<% tags.each do |tag| %>
  <div class="d-flex justify-content-between p-2">
    <div>
      <p><%= tag.name %></p>
      <p style="font-size: 12px;">Index minimo: <%= tag.taggings.count %></p>
    </div>

    <div>
      <%= link_to edit_tag_path(tag) do %>
        <i class="btn btn-lg fas fa-edit"></i>
      <% end %>

      <% if policy(current_user).destroy? %>
        <%= link_to tag_path(tag), method:'DELETE', data: { confirm: "Are you sure?" } do %>
          <i class="btn btn-lg fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>
