.notebook-results {
  flex: 0 0 65%;
  margin-top: 125px;
  border-radius: 5px;
  // border: 1px solid black;
  display: grid;
  grid-gap: 16px 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.notebook-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-right: 16px;
  margin-bottom: 16px;
  align-items: center;
  width:100%;
}

.notebook-card img {
  // margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.notebook-card .name {
  font-size: 14px;
  font-weight: bold;
}

.notebook-card .price {
  font-size: 18px;
  font-weight: bold;
  color: blue;
}

